.container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    max-width: 1250px;
}

.about-me {
    background-color: #f2f2f2;
    min-height: 1250px;
}
.my-skills {
    min-height: 1250px;
}
.my-projects {
    background-color: #f2f2f2;
    min-height: 1250px;
}
.contact-me {
    min-height: 1250px;
}